header{
    height: 690px;
    background: #264653;
}
#btn-common{
    background: #E76F51;
    border-radius: 5px;
    height: 44px;
}
.similer-btn{
    border: 1px solid #E76F51;
    border-radius: 5px;
    height: 44px;
    color: #E76F51;
}
.similer-btn:hover{
    background: #E76F51;
    border-radius: 5px;
    color: white;
    height: 44px;
}
.p-common-color{
    color: #6C6C6C;
}
.common-color{
    color: #E76F51;
}
.fa-star{
    color: #E77C40;
}
footer{
    height: 280px;
    background: #0B0D17;
}